.header-container {
    background: linear-gradient(-45deg, #0f0f92, #480476, #055e7e, #11a17f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.header-container > h1{
  font-size: 37px;
  background-color: #dedede1f;
  padding: 5px;
}

.header-container > ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header-container > ul> li{
  margin-right: 25px;  
  border-bottom: 1px solid #ffffff38;
  padding: 0 20px 12px 20px;
  cursor: pointer;
}

.header-container > ul > li > a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

.header-container > ul > li:hover{
  border: none;
  border-bottom: 1px solid white;
  /* width: 135px;
  height: 20px; */
  text-align: center;
}
